<div style="position:absolute; top:100px; left:350px;" class="container bootstrap snippets bootdey">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
        <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title" style="font-family:cursive;">
                      <span class="glyphicon glyphicon-th"></span>
                      New customer
                  </h3>
              </div>
              <div class="panel-body">
                

                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                         <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                      </div>
                      <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                       <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input class="form-control" formControlName="name" placeholder="Customer's name...">
                            <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['name'].touched
                && newCustomerFormGroup.controls['name'].errors
                && newCustomerFormGroup.controls['name'].errors!['required']">
            Name is Required
          </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                            <input class="form-control"  placeholder="Customer's email...">
                            <span class="text-danger"
                *ngIf="newCustomerFormGroup.controls['email'].touched
                && newCustomerFormGroup.controls['email'].errors
                && newCustomerFormGroup.controls['email'].errors!['email']">
            Email is not valid
          </span>
                          </div>
                        </div>
                      </div>
                  </div>
                
              </div>
              <div class="panel-footer">
                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6"></div>
                      <div style="margin-left: 285px;" class="col-xs-6 col-sm-6 col-md-6">
                        <button class="btn icon-btn-save btn-success" type="submit">
                          <span class="btn-save-label"><i class="bi bi-save2"></i></span>save</button>
                      </div>
                  </div>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>